body {
    margin:0;
	border:0;
	padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
	font-family: "Times New Roman", serif;
    color: #333333;
    background-color:#fbe0c9;
}
.nav-default{
	background-color:#f3dac4;
	height:1px;
	padding: 0 3px 0 0;
}
#inner-container{
   display:inline-block;
   margin:0 auto;
   width:100%;
}
#about, #services, #portfolio, #contact{
   margin:1.5em 0 0;
   padding:1em 0;
}
#hero{
	margin:0 auto;
	padding:0;
	width: 100%;
	border-radius:5px;
}
#hero h1{
	color:#004f69;
	font-family: "Monotype Corsiva", cursive;
}
#hero h2{
	color:#004f69;
}
#hero h3{
	  color:#86500b;
}
.hero1{
    margin:0 auto;
	border-radius:5px;	
}
 
.turq{
    color:#004f69;
	
}
.tan{
    color:#7d500b;
}
.turqh{
    color:#004f69;
	font-size:1.3em;
}
.tanh{
    color:#7d500b;
	font-size:1.3em;
}
.turq2{
    color:#004f69;
	font-size:1.2em;
}
.tan2{
    color:#7d500b;
	font-size:1.2em;
}

hr{
   height:.2em;
   width:100%;
   margin: 1em 0;
   background-color:#7ff6e1;
}

#innerContent{
    display:block;
	width:85%;
	max-width:850px;
	margin:0 auto;
	padding:0;
	font-size:1.2em;
	line-height:1.5em;
	overflow:hidden;
}
.port-wrap{
    display:inline-block;
	margin:0 auto;
}

.port{
    display:inline-block;
	position: relative;
    font-size:1.2em;
    color:#004f69;
	height: 222px;
}

/* cards */

.item {
	text-align:center;
	float:left;
	margin:0;
	position:relative;			
}
.item,.item-hover,.item-hover .mask,.item-img,
.item-info {
	width: 250px;
	height: 200px;						
}
.item-hover,.item-hover .mask,.item-img { 
	position:absolute;
	top:0;
	left:0;			
}			
.item-type-zoom .item-hover {	
	z-index:5;	
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;	
	opacity:0;
	cursor:pointer;		
	display:block;
	text-decoration:none;
	text-align:left;
	padding-left:5px;								
}
.item-type-zoom .item-info {
	z-index:10;
	color:#ffffff;
	display:table-cell;
	vertical-align:top;
	position:relative;
	z-index:5;			
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-ms-transform: scale(0,0);			    
	transform: scale(0,0);			    
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;						 					
}
.item-type-zoom .item-info .headline {
	font-size:1.6em;
	line-height:2em;			
	width:90%;
	margin:0 auto;		
}
.item-type-zoom .item-info .line {
	height:1px;
	width:60%;
	margin:15px auto 10px auto;
	background-color:#ffffff;		 
}
.item-type-zoom .item-info .desc {
	font-size:1.2em;
	font-style:italic;
}
.item-type-zoom .item-hover .mask {
	background-color:#00bcd4;
	opacity:0.7;
	z-index:0;
}
.item-type-zoom .item-hover:hover {
	opacity:1;
}				
.item-type-zoom .item-hover:hover .item-info {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);			    
	transform: scale(1,1);	
}								
.item-img {			
	background-color:#fbe0c9;
	z-index:0;			
}

.myself{
   width:75%;
   margin:0;
}

.folio{
  margin:0;
  display: hidden;
  width: 100%;
  height: auto;
  color: #fbf2ea;
}

.nxtlvl {
   margin: 1em 0;
}
 .prodwrap{
  margin:0 auto;
  display:inline-block;
 }
 
 .schedule{
    background-color:#7ff6e1;
	border-style:solid;
	border-width:.2em;
	border-color:#004f69;
	border-radius:4px;
	font-size:1.1em;
	color:#7d500b;
	width:100%;
	margin:0 auto;
	padding:1em;
 }
 .ftr-link{
    float:none;
	width:100%;
	margin:0 auto;
}
.ftr-link a{ 
	color: #7d500b;
	text-decoration: none;
	cursor:pointer;
}
.social {
    width:50px;
	margin:0 auto;
	padding:0 15px;
	cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:700px){
body {
	width:100%;
    height:100%;
	margin:0 auto;
}
#hero{
    margin:0 auto;
	width:60%;
	height:auto;
}
h1{
   font-size:1.7em;
}
h3{
   font-size:1.5em;
}
h4{
   font-size: 1.2em;
   line-height: 1.3em;
   margin:0;
   padding:0;
}
#innerContent {
   width: 95%;
}
.item {
	text-align:center;
	float:left;
	margin:0 1em;
	position:relative;			
}
.mask {
	width: 90%;
	height: 90%;						
}
.turq2{
	font-size:1.1em;
}
.tan2{
	font-size:1.1em;
}

#about, #services, #portfolio, #contact{
   margin:1em 0 0;
   padding:.5em 0;
}
.navbar-default .navbar-nav>li{
   display:inline;
   float:left;
}
}
